.sidebar {
  position: relative;
  width: 303px;
  height: 504px;

  background: #ffffff;
  border-radius: 2px;

  h1 {
    position: absolute;
    width: 157px;
    height: 27px;
    left: 30px;
    top: 10px;
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.78px;

    color: #705658;
  }
}

.navlink {
  position: absolute;
  width: 100%;
  top: 40px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: -0.1px;
  text-decoration: none;

  ul {
    margin: 0;
    margin-top: 9px;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
    color: #12212d;
    margin: 1px;
    transition: all 0.5s;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: -0.1px;

    &:hover {
      background-color: rgba(#D12C37, 0.1);
      border-radius: 0px 2px 2px 0px;
      box-shadow: inset 3px 0 red;
    }
  }
}

.item {
  box-shadow: inset 0 0 red;
  transition: box-shadow 0.1s, color 0.1s;
  padding: 4px;
  margin: -3px;
}

.item:hover {
  box-shadow: inset 3px 0 red;
}

.active {
  background-color: rgba(#D12C37, 0.1);
  border-radius: 0px 2px 2px 0px;
  box-shadow: inset 3px 0 red;
}