.navigation {
    max-width: 700px;
    width: 100%;
}

.navigationItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationItem {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    position: relative;
    border-bottom: 1px solid rgba(#fff, 0);
    padding: 5px 0;
    transition: all 0.5s;

    &:hover {
        border-bottom: 1px solid #FFF;
    }
}