.navigation {
    max-width: 700px;
    width: 100%;
}

.navigationItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationItem {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    position: relative;
    border-bottom: 1px solid inherit;
    position: relative;

    &:hover {
        ::before{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #fff;
            bottom: -10px;
        }
    }
}