.form {
    background: #FFFFFF;
    border: 1px solid #B7BCC0;
    border-radius: 2px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.btn {
    margin-top: 10px;
    background: linear-gradient(212.42deg, #E75B65 -88.04%, #D12C37 130.2%);
    box-shadow: 0px 2px 7px rgba(120, 137, 149, 0.254784);
    border: none;
    border-radius: 3px;
    padding: 18px 89px;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    transition: all 0.5s;

    &:hover {
        scale: 1.1;
        border-color: inherit;
    }
}

.ratingInner{
    margin: 20px;
}

.error{
    color: #D12C37;
    padding-top: 15px;
}