.textInner {
    margin: 60px 0px 45px;
}

.text {
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: rgba(18, 33, 45, 0.7);
}