.textInner {
    margin: 60px 0px 45px;
}

.text {
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: rgba(18, 33, 45, 0.7);
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.8px;
    color: #705658;
    padding: 0;
    margin: 20px;
}