.wrapper {
    width: 750px;
    height: 400px;

    .firstDiv {
        display: flex;
        height: 110px;
        border-bottom: 1px solid #B7BCC0;
        text-align: center;
        justify-content: space-around;

        p {
            text-align: center;
            font-size: 24px;
            margin: auto 0 auto 0;
            font-weight: 600;
        }

        button {
            width: 30px;
            height: 30px;
            margin: auto 0 auto 0;
        }

        .minus:active {
            background-color: red;
        }

        .plus:active {
            background-color: greenyellow;
        }

        button:hover {
            cursor: pointer;
        }

        input {
            width: 170px;
            height: 45px;
            margin: auto 0 auto 0;
            background-color: #E75B65;
            color: #fff;
            border: 1px solid #fff;
            font-weight: 600;
            font-size: 14px;
        }

        input:active {
            border: rgb(117, 3, 3);
            background-color: rgb(117, 3, 3);
        }

        input:hover {
            cursor: pointer;
        }

        span {
            margin: auto 0 auto 0;
            color: #D57B1C;
        }
    }

    .secondDiv {
        margin: 30px;

        div {
            margin: 20px;
            font-size: 14px;
            font-weight: 600;
        }

        p {
            margin: 20px;
            font-size: 14px;
            line-height: 24px;
        }
    }
}