.wrapper {
    max-width: 726px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 10px 33px 66px;
}

.firstDiv {
    display: flex;
    border-bottom: 1px solid #B7BCC0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.priceInner {
    display: flex;
    align-items: center;

    p {
        display: inline-block;
    }

    max-width: 160px;
    width: 100%;
}

.priceText {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.1px;
    color: rgba(18, 33, 45, 0.7);
}

.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.14px;
    color: #12212D;
    margin-left: 20px;
}

.countInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background: #fff;
    padding: 0;
    margin: 0;
    border: 1px solid #B7BCC0;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #12212D;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    &:hover {
        scale: 1.05;
        border-color: #D57B1C;
        color: #D57B1C;
    }
}

.count {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #12212D;
    padding: 0 18px;
}

.btnPay {
    width: 170px;
    height: 45px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    padding: 13px 61px;
    background: linear-gradient(212.42deg, #E75B65 -88.04%, #D12C37 130.2%);
    box-shadow: 0px 2px 7px rgba(120, 137, 149, 0.254784);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        scale: 1.05;
    }
}

.text {
    font-family: 'Avenir Next';
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #D57B1C;
}

.ratingInner {
    padding: 34px 0px 18px;
}

.textInner {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #12212D;
    text-align: start;
    margin: 0;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #12212D;
    mix-blend-mode: normal;
    opacity: 0.6;
}