* {
   box-sizing: border-box;
}

.header {
   background-color: white;
   height: auto;
   .container {
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inner {
         flex-grow: 2;
         display: flex;
         justify-content: flex-end;

         .drop_down {
            display: flex;
            justify-content: space-between;
            // align-items: center;

            width: 30;
            margin-right: 2rem;

            .line {
               // width: 5%;
               border-left: 2px solid rgb(194, 194, 194);
               height: 3rem;
            }
         }
      }
   }
}
