.navbar {
  background: linear-gradient(212.42deg, #e75b65 -88.04%, #d12c37 130.2%);
}

.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
