.navbar {
  background: linear-gradient(212.42deg, #E75B65 -88.04%, #D12C37 130.2%);
}

.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}