.mainImg {
    width: 550px;
    height: 280px;
    position: relative;
}

.firstImg {
    width: 550px;
    height: 280px;
}

.text {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #75D67E;
    text-align: center;

    span {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.1px;
        color: #FFFFFF;
        padding: 3px 13px;
    }
}

.secondImg {
    margin-top: 10px;
    overflow: hidden;
}

.items {
    width: 495px;
    display: flex;
    transition: all 0.5s;
}

.item {
    width: 155px;
    height: 104px;
    margin-right: 13px;
}

.secondaryImg {
    height: 104px;
    width: 155px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        scale: 1.05;
    }
}

.btn {
    width: 50px;
    height: 104px;
    border: 1px solid #B7BCC0;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.5s;

    &:hover {
        border-color: navajowhite;
        background-color: #fff;
        scale: 1.05;
    }
}

.galeryInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}