.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.1px;
}

.list{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.item{
    margin-right: 10px;
}