@import url("../assets/fonts/AvenirNext/stylesheet.css");

.app {
  font-family: "Avenir Next Cyr";
  min-height: 100vh;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  background-color: #f9f9f9;
}
