.descriptionContainer {
    padding: 40px 50px 75px;
    background: #FFFFFF;
    border-radius: 2px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #12212D;
    margin-bottom: -20px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 50px;
    color: #12212D;
    opacity: 0.6;
    max-width: 700px;
    letter-spacing: -0.1px;
}