.input {
   position: relative;
   width: 44%;

   input {
      margin-bottom: 0;
   }

   div {
      width: 100%;
      z-index: 5;
      position: sticky;
      // top: 20%;
      input {
         border: 1px solid grey;
         border-radius: 4px;
         width: 100%;
         padding: 0.87rem;
         font-size: 17px;
         background: url('./search.svg') no-repeat;
         background-size: 20px;
         background-position: 97% 50%;
         background-color: white;
         z-index: 3;

         &:focus-visible {
            outline: none;
         }
      }

      .input_search {
         opacity: 0;
         visibility: hidden;
         position: absolute;
         top: 20%;
         margin-top: 2.5rem;
         border-top: none;
         max-height: 12rem;
         overflow-y: auto;
         // padding: 0.5rem;
         background: white;
         border-top-left-radius: 0.25rem;
         border-bottom-left-radius: 0.25rem;
         transition-delay: 0.2s;
         transition: visibility 0.2s linear, opacity 0.2s linear;
         scrollbar-color: rgba(255, 255, 255, 0.785) #d12c37;
         z-index: 3;

         &.visible {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   .backdrop {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.623);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      transition: visibility 0.3s linear, opacity 0.3s linear;
      transition-delay: 0.2s;

      &.active {
         opacity: 1;
         visibility: visible;
      }
   }
}
