@import "./FooterBlock.scss";


.Footer__block_info{
    @extend %Footer-block !optional;
    width: 199px;
    height: 150px;
    margin-bottom:23px;
}

.Footer__block_icon{
    width: 125px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;

    a{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:50%;
        background-color: #333;
        text-decoration: none;
    }

    img{
        user-select: none;
    }
}

.Footer__VK_icon{
    width: 21px;
    height:13px;
}

.Footer__Instagram_icon,.Footer__Youtube_icon{
    width:20px;
    height:20px;
}