@import "./FooterBlock.scss";


.Footer__block_greeting{
    @extend %Footer-block !optional;
    width:266px;
    height:160px;
}

.Footer__text{
    width:250px;
}

.Footer__logo{
    width: 158px;
    height: 57px;
    user-select: none;
}