@font-face {
    font-family:'Abhaya Libre';
    src: url(../assets/fonts/AbhayaLibre-Bold.ttf);
}

@font-face {
    font-family:'Avenir Next';
    src: url(../assets/fonts/avenir-next-regular.ttf);
}

*{
    margin: 0;
    bottom: 0;
}

.Footer{
    width: 100%;
    height: 242px;
    background: #C02336;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

%Footer-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Footer__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.9;
    text-decoration: none;
}

.Footer__header{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}