.cardsGallery {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  &__items {
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid #b7bcc0;
  }
  &__pagination {
    display: flex;
    justify-content: center;

    & > button {
      background-color: rgba($color: #000000, $alpha: 0);
      width: 60px;
      height: 60px;
      // padding: 25px 22px;
      color: #d93c47;
      border: 1px solid #b7bcc0;
    }
  }
}
