.sacsesInner {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.sacses {
    width: 521px;
    height: 261px;
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.8px;
    color: #705658;
}