.rating {
	overflow: hidden;
	width: 210px;
}
.rating:not(:checked) > input {
	display: none;
}
.rating:not(:checked) > label {
	float: right;
	width: 42px;
	cursor: pointer;
	font-size: 40px;
	line-height: 35px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating:not(:checked) > label:before {
	content: '★';
}
.rating > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating  input:checked + label:hover,
.rating  input:checked + label:hover ~ label,
.rating  input:checked ~ label:hover,
.rating  input:checked ~ label:hover ~ label,
.rating  label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
